
body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.hash {
    font-family: monospace;
}

.highlight {
    font-weight: bold;
}

.full-height {
    height: 100%;
    overflow: scroll;
}

.detailsTable {
    width: 100%;
}
